$navbar-default-bg: #9999FF;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  
  color: #993333;
  text-decoration: underline;
}

#logo2 {
  float: left;
  color: white;
  font-weight: bold;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('desktop.jpg');
  height: 400px;
}

.jumbotron h1 {
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  border-color: red;
  
 color: #CCCCCC;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.btn-lg {
  background-color: #9999FF;
}

.description {
  margin-top: 0;
}

.article-actions {
  
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}